@import
url('https://fonts.googleapis.com/css?family=PT+Sans');


h1 {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 300;
  font-size: 13 px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 35px;
  text-align: center;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}

/* header
============================= */

header {
	/*position: absolute;*/
	margin-top: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;

}
