@import
url('https://fonts.googleapis.com/css?family=PT+Sans');

/*
h1 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  font-size: 18 px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 35px;
  text-align: center;
}
*/


* {
	box-sizing: border-box; /*convenient for padding/sizing*/
}

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}

img { /* responsive for phones */
  max-width: 100%;
  height: auto;
}

.container{
  width: 95%;
  margin: 0 auto;
}

/* typography
============================= */
.title{
  font-size: 2.5rem;
}

.title span{
  font-weight: 400;
  display: block;
  font-size: .9em;
}

.button {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
}

/* header
============================= */

header {
	position: absolute;
  left: 0;
  right:0;
	margin-top: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
  margin: 1em; /* 1em = 100% */
}

nav a {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font weight: 900;
  text decoration: none;
  text transform: uppercase;
  font-size: 1.2rem;
  padding: .5em;
}

/* intro
============================= */

.intro {
  background-image: url(frontpageedited.jpg);
  padding: 8em 0;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}
